.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-shell__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  outline: none; // tabindex=-1 for skip-to-main link
}
